.suggestion_card {
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suggestion_text {
  outline: none;
  color: #475569;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
}

.suggestion_arrow {
  width: 30px;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  border: 0px;
}
